body{
	background-color: #e8f1d4;
	position: absolute;
}

#site-wrapper {

}

header#site-header{
	position: relative; 
	height: 130px;
    background-color: #e8f1d4;
}
#site-header h1 a{
	display: block;  
	width: 306px; 
	height: 123px;  
	background: url(images/logo.png) no-repeat top left; 
	text-indent: -9999px;
	position: absolute;	
}

nav#top-nav {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	color: #663300;
}
nav#top-nav a{	
	text-decoration: none;
	color: #663300;
	font-family: helvetica;
	font-size: 12px;
	padding: 10px;
}
nav#menu-wrapper {
	display: block;
	position: relative;

}
nav#main-menu {
	height: 24px;
	background-color: #663300;
}
nav#main-menu a{
    list-style: none;
	text-decoration: none;
	float: left;
    color: #ffffff;
    font-family: helvetica;
	font-size: 18px;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
}
div#content-wrapper {
	display: block;
	float: left;
	width: 800px;
	background-color: #ffffff;
}
div#content {

}
article#page h1{
	color: #663300;
	font-family: futura;
	font-size: 32px;
}

article#page h2{
	color: #663300;
	font-family: helvetica;
	font-size: 22px;
	text-transform: uppercase;
}

article#page p{
	color: #000000;
	font-family: helvetica;
	font-size: 12px;
}		

aside#sidebar {
	float: left;
	width: 275px;
}

aside#sidebar h1{
	color: #663300;
	font-family: helvetica;
	font-size: 22px;
	text-transform: uppercase;
}

aside#sidebar a {
	color: #663300;
	font-family: helvetica;
	font-size: 12px;
	text-decoration: none;
}
div#footer-wrapper {}
footer#site-footer {}
section#footer-contact {}
section#footer-follow {}

ul {
	list-style: none;
}