@media screen and (max-width:500px) {
	
nav#top-nav-menu {display:none;}

header {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
}

h1 .dogs-cats {font-size: 5em;}

h1 .vs {font-size: 3em;}
}