
section#maincontent {
    position: relative;
}
article.article1 {
    position: absolute;
    top: 50px;
    right:0;
    width:50%;
}

article.article2 {
    position: absolute;
    top: 50px;
    left:0;
    width:50%;
}

img.image {
    float:left;
    top: 0;
    padding: 15px;
}

h1.headline {font-weight: bold;
    font-size: 20px;
    padding: 5px;

}
 
h2.author {font-size: 12px;
        line-height: 1.5em;
        padding-bottom: 10px;
}
 
p.body {
    font-size: 14px;
    line-height: 1.25em;
    padding-left: 15px;
    padding-bottom: 10px;
}