/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


body{
	background-color: #ffffff;
	min-width: 1024px;
}

header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -5%;
	max-width: 100%;
	padding-top: 1%;
	}

nav#main-menu {
	list-style: none;
	text-align: center;
	max-width: 100%;
	margin-bottom: -18%;
}

nav#main-menu li {
	display: inline;
	padding: 1%;
	font-size: 1.75em;
	font-family: helvetica;
}

nav#main-menu li a{
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
	color: #352c2a;
}

nav#main-menu li a:hover {
	color: #dd4512;
}

nav#main-menu ul li.seperator {
	color: #efebd8;
	font-weight: bold;
}


#site-wrapper {
	display: block;
	background-color: #cee3e7;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-top: 3%;
	margin-bottom: 4%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

div.blog-wrapper {
	display: block;
	max-width: 70%;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: #352c2a;
	padding: 1%;
	margin-top: 18%;
	float: left;
}
article.blog-post {
	font-family: helvetica;
}
article.blog-post h1 {
	font-size: 1.5em;
 	color: #dd4512;
	font-weight: bold;
	padding-bottom: 2%;
	padding-top: 2%;
	font-family: georgia;
}
article.blog-post h3 {
	font-size: .75em;
	color: #352c2a;
	text-align: right;
	padding-top: 3%;
}

article.blog-post img.blog-image {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	float: left;
	width: 45%;
	padding: 1%;
	margin-right: 1%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

article.blog-post ul.blog-details {
	font-family: georgia;
	font-size: 1.25em;
	color: #352c2a;
	float: left;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 1%;
}


article.blog-post p.blog-content {
	display:block;
	float: left;
	font-size: 1em;
	color: #352c2a;
	width: 45%;
	padding-top: 1%;
	padding-left: 1%;
	line-height: 1.2em;
}	

p.blog-content a.view-more {
	 	color: #dd4512;
		text-decoration: none;
		text-transform: lowercase;
}

div.blog-footer-wrapper {
	clear: both;
	max-width: 100%;
}

div.blog-footer-wrapper p{
	text-transform: lowercase;
	font-size: .75em;
	color: #352c2a;
	float: left;
}

div.blog-footer-wrapper p a {
 	color: #dd4512;
	text-decoration: none;
}

aside#side-nav {
	max-width: 20%;
	margin-top: 18%;
	float: right;
	display: block;	
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: #352c2a;
	padding: 2%;
}

aside#side-nav img.social {
	max-width: 14%;
}

aside#side-nav img.bio-photo {
	width: 90%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 2%;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin-bottom: 1%;

}

aside#side-nav h4 {
	font-family: georgia;
	color: #352c2a;
	padding-bottom: 2%;
	font-size: 1.5em;
}

aside#side-nav p {
	font-family: helvetica;
	color: #352c2a;
	font-size: .85em;
	padding-bottom: 5%;
	display: block;
	width: 90%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 2%;
}
aside#side-nav ul {
	width: 100%;
	margin-left: 3%;
	margin-right: 3%;
}

aside#side-nav ul li {
	padding: 2%;
	list-style: none;
	display: inline;
}


footer#site-footer {
	padding: 2%;
	clear: both;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

footer#site-footer ul li {
	display: inline;
	padding: 1%;
	font-size: .75em;
	font-family: helvetica;
	text-transform: lowercase;
	color: #352c2a;
}

footer#site-footer ul li a {
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
	color: #352c2a;
}